# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
venv/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

pSurvey_api/static/authApp/css/argon.css
pSurvey_api/static/authApp/css/argon.min.css
pSurvey_api/static/authApp/css/bootstrap/
pSurvey_api/static/authApp/fonts/nucleo/
pSurvey_api/static/authApp/img/brand/
pSurvey_api/static/authApp/img/icons/
pSurvey_api/static/authApp/img/theme/
pSurvey_api/static/authApp/js/argon.js
pSurvey_api/static/authApp/js/argon.min.js
pSurvey_api/static/authApp/js/components/
pSurvey_api/static/authApp/scss/
pSurvey_api/static/authApp/vendor/@fortawesome/
pSurvey_api/static/authApp/vendor/anchor-js/
pSurvey_api/static/authApp/vendor/animate.css/
pSurvey_api/static/authApp/vendor/bootstrap-datetimepicker.js
pSurvey_api/static/authApp/vendor/bootstrap-notify/
pSurvey_api/static/authApp/vendor/bootstrap-rtl/
pSurvey_api/static/authApp/vendor/datatables.net-bs4/
pSurvey_api/static/authApp/vendor/datatables.net-buttons-bs4/
pSurvey_api/static/authApp/vendor/datatables.net-buttons/
pSurvey_api/static/authApp/vendor/datatables.net-responsive-bs4/
pSurvey_api/static/authApp/vendor/datatables.net-select-bs4/
pSurvey_api/static/authApp/vendor/datatables.net-select/
pSurvey_api/static/authApp/vendor/datatables.net/
pSurvey_api/static/authApp/vendor/font-awesome/
pSurvey_api/static/authApp/vendor/gulp-copy/index.js
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/arr-diff/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/arr-union/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/array-slice/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/extend-shallow/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/glob-watcher/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/gulp/bin/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/gulp/index.js
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/gulp/node_modules/gulp-cli/bin/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/gulp/node_modules/gulp-cli/completion/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/gulp/node_modules/gulp-cli/gulp.1
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/gulp/node_modules/gulp-cli/index.js
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/kind-of/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/plugin-error/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/yargs-parser/LICENSE.txt
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/yargs-parser/index.js
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/yargs/completion.sh.hbs
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/yargs/index.js
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/yargs/locales/
pSurvey_api/static/authApp/vendor/gulp-copy/node_modules/yargs/yargs.js
pSurvey_api/static/authApp/vendor/holderjs/
pSurvey_api/static/authApp/vendor/jekyll/CONTRIBUTING.markdown
pSurvey_api/static/authApp/vendor/jekyll/Gemfile
pSurvey_api/static/authApp/vendor/jekyll/History.markdown
pSurvey_api/static/authApp/vendor/jekyll/README.markdown
pSurvey_api/static/authApp/vendor/jekyll/Rakefile
pSurvey_api/static/authApp/vendor/jekyll/benchmark/
pSurvey_api/static/authApp/vendor/jekyll/bin/
pSurvey_api/static/authApp/vendor/jekyll/features/
pSurvey_api/static/authApp/vendor/jekyll/jekyll.gemspec
pSurvey_api/static/authApp/vendor/jekyll/script/
pSurvey_api/static/authApp/vendor/jekyll/site/
pSurvey_api/static/authApp/vendor/jquery.scrollbar/
pSurvey_api/static/authApp/vendor/js-cookie/
pSurvey_api/static/authApp/vendor/jvectormap-next/
pSurvey_api/static/authApp/vendor/lavalamp/
pSurvey_api/static/authApp/vendor/minimatch/
pSurvey_api/static/authApp/vendor/moment.min.js
pSurvey_api/static/authApp/vendor/moment/
pSurvey_api/static/authApp/vendor/nouislider/
pSurvey_api/static/authApp/vendor/nucleo/
pSurvey_api/static/authApp/vendor/prismjs/
pSurvey_api/static/survey/img/
source/_static/
source/_templates/
.idea/

