<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>


    <h2><b> INFORMATION AND INFORMED CONSENT</b></h2>
		
    
    <h3><b> Purpose of the survey </b></h3>
    
    You are invited to participate in a survey about [subject or questionnaire title].  This online survey should be short.  Participation is voluntary, and responses will be kept anonymous to the degree permitted by the technology being used.
    
    You have the option to not respond to any questions that you choose.  Participation or nonparticipation will not impact your relationship with the assessor. Submission of the survey will be interpreted as your informed consent to participate and that you affirm that you are at least 18 years of age.
    
      
    <h3><b>Benefits:</b></h3>
    
    There is no promise that you will receive any benefit from taking part in this study.
    Your participation in this study may help.
    Although you may not directly benefit from taking part in this study,
    
  <h3><b>  Participant selection</b></h3>    
    All Human Subjects.
    
   <h3><b>Procedure</b></h3>
    
    You will be asked questions.
    The questionnaire administrator shall enter your answers.
    Your answers will be saved in the system’s database.
    
    <h3><b>Confidentiality</b></h3>
    
    Your records will be kept confidential and will not be released without your consent except as required by law. 
    Your identity will be kept private/anonymous.
    If the results of this study are written in a scientific journal or presented at a scientific meeting, your name will not be used.
    
   <h3><b> Statement of Your Consent</b></h3>
    
    I have read the above description of this research study. I have been informed of the risks and benefits involved, and all my questions have been answered to my satisfaction.  Furthermore, I have been assured that any future questions I may have will also be answered by a member of the research team.  I voluntarily agree to take part in this study.  I understand I will receive a copy of this consent form.
    

    
    
</body>
</html>